html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* modal css */
#price-modal{
  top: 300px;
}

.modal-sheet .modal-dialog {
  width: 380px;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

/* user range */
.slidecontainer {

  width: 100%;
}

#usersInput{
  margin: 0;
}
.users-container{
  padding-top: 12px;
}

.card-highlight{
  border-color: red !important;
}
